<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://joltudomeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>joltudomeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JolTudomEAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JolTudomEAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JolTudomEEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ci1w6ktfo9.database.windows.net,1433;Initial Catalog=JolTudomE;User ID=dbuser@ci1w6ktfo9;Password=P@ssw0rd" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JolTudomE_Api.Models.JolTudomEEntities, JolTudomE_Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LocalStorageEmulator" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalStorageEmulator_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorageAccount" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=portalvhds69bhjtpvjt0m4;AccountKey=A9vso1G7D+oeH+hSald4NVXsuFEj3GGTIJuz6fflVWW2IRLxDOCziNXbYInqozh3xRPME8eaZUWECrpqnTx8hQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=portalvhds69bhjtpvjt0m4;AccountKey=A9vso1G7D+oeH+hSald4NVXsuFEj3GGTIJuz6fflVWW2IRLxDOCziNXbYInqozh3xRPME8eaZUWECrpqnTx8hQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageAccount-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JolTudomEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.JolTudomE.csdl|res://*/Models.JolTudomE.ssdl|res://*/Models.JolTudomE.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ci1w6ktfo9.database.windows.net,1433;Initial Catalog=JolTudomE;User ID=dbuser@ci1w6ktfo9;Password=P@ssw0rd"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalStorageEmulator-Web.config Connection String" />
  </ItemGroup>
</Project>